<% include ../partials/header %>

<div class="container">
    <h3>
        מרכז השליטה של מנהל המערכת
    </h3>
    <a class="btn btn-default btn-round" href="/admin/company">ניהול חברות</a>
    <a class="btn btn-default btn-round ml-4" href="/admin/user">ניהול משתמשים</a>
</div>

<% include ../partials/footer %>
<% include ../partials/closing_tags %>