<!--</div>-->

<!--<footer class="align-items-center container-fluid d-flex justify-content-center">-->
<!--  <div class="text-center m-0" style="direction: ltr;">-->
<!--      © 2019 - <span class="scheduler-logo">scheduler.co.il</span>-->
<!--  </div>-->
<!--</footer>-->