<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>סידור</title>
    <link rel="manifest" href="/manifest.json?v=<%= version %>">
    <link type="text/css" href="/assets/css/basis.css?v=<%= version %>" rel="stylesheet" />
</head>

