<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container-fluid">
	<div class="row align-items-center justify-content-center mt-3">
		<div id="open-form-dialog" class="btn btn-primary btn-round">
			הוספת ספק חדש
		</div>
	</div>
	<div id="form-dialog" class="container mt-2">
		<div class="row justify-content-md-center">
			<div class="col-12 col-md-6">
				<form action="/company/<%= user.company._id %>/vendors" method="POST" class="card card-body bg-light">
					<div class="form-group">
						<label for="name">
							שם חברה
						</label>
						<input type="text" class="form-control" id="name" name="name" required placeholder="הכנס שם משתמש">
						<label for="personInfo">
							איש קשר
						</label>
						<input type="text" class="form-control" id="personInfo" name="personInfo" required placeholder="הכנס איש קשר">
						<label for="address">
							כתובת
						</label>
						<input type="text" class="form-control" id="vendorAddress" name="address" required placeholder="הכנס כתובת">
						<label for="phoneNumber">
							טלפון
						</label>
						<input class="form-control input-phone" id="phoneNumber" name="phoneNumber" required placeholder="0XX-XXX-XXXX">
					</div>
					<button type="submit" class="btn btn-primary btn-round btn-block">
						שלח
					</button>
				</form>
			</div>
		</div>
	</div>

	<% if (user.company.vendors && user.company.vendors.length != 0) { %>
		<div class="container mt-3 mb-3">
			<div id="vendors-info" class="row align-items-center justify-content-center">
			
			</div>
		</div>   
		
	<% } else { %>
	
		<div class="row justify-content-md-center">
			<div class="mx-auto mt-3 card card-body bg-light col-8 text-center">
	 נראה שלא נוספו נהגים עדיין. הוסף נהג.
			</div>
		</div>
		
	<% } %>
	
</div>

<% include ../partials/footer_data %>
<% include ../partials/footer %>

<script type="text/javascript" src="/assets/js/vendor-app.js?v=<%= version %>"></script>

<script>
	(function ($) {
		$(document).ready( function() {
		
			setTimeout(function(){
				places({
					appId: "<%= PLACES_APP_ID %>",
					apiKey: "<%= PLACES_API_KEY %>",
					container: document.querySelector('#vendorAddress')
				}).configure({
					countries: ['il'],
					language: 'he',
					style: false
				});
			}, 400);
			
		});
	}(jQuery));
</script>

<% include ../partials/closing_tags %>
