<% include ../partials/header %>

<link type="text/css" href="/main-page-style.css?v=<%= version %>" rel="stylesheet" />
<% include ../partials/navbar %>

    <div class="container mt-5 mb-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-10 col-sm-10 col-md-6 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-info">
                        <div class="media d-flex">
                            <div class="media-body text-left">
                                <h3>278</h3>
                                <span>נסיעות מתחילת החודש</span>
                            </div>
                            <div class="align-self-center">
                                <i class="fal fa-pencil-alt azure font-large-2 float-left"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-10 col-sm-10 col-md-6 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-info">
                        <div class="media d-flex">
                            
                            <div class="media-body text-left">
                                <h3>278</h3>
                                <span>New Posts</span>
                            </div>
                            <div class="align-self-center">
                                <i class="fal fa-gas-pump orange font-large-2 float-left"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-10 col-md-6 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-info">
                        <div class="media d-flex">
                            <div class="media-body text-left">
                                <h3>278</h3>
                                <span>New Posts</span>
                            </div>
                            <div class="align-self-center">
                                <i class="fal fa-map-marker-alt pink font-large-2 float-left"></i>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-10 col-sm-10 col-md-6 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-info">
                        <div class="media d-flex">
                            <div class="media-body text-left">
                                <h3>278</h3>
                                <span>New Posts</span>
                            </div>
                            <div class="align-self-center">
                                <i class="fal fa-chart-line salad-color font-large-2 float-left"></i>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-10 col-md-6 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-info">
                        <div class="media d-flex">
                            <div class="media-body text-left">
                                <h3>278</h3>
                                <span>New Posts</span>
                            </div>
                            <div class="align-self-center">
                                <i class="fal fa-chart-pie blue font-large-2 float-left"></i>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-10 col-md-6 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-info">
                        <div class="media d-flex">
                            <div class="media-body text-left">
                                <h3>278</h3>
                                <span>New Posts</span>
                            </div>
                            <div class="align-self-center">
                                <i class="fal fa-bus purple font-large-2 float-left"></i>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>
<% include ../partials/closing_tags %>